[MAIN]
FILE_NAME = instructions/main.md
VERSION = 0.0.1
RULE_SET = ASoIaF_v1

[CHARACTER_CREATION]
FILE_NAME = instructions/character_creation.md
VERSION = 0.0.2
RULE_SET = ASoIaF_v1

[ABILITY_CHECK]
FILE_NAME = instructions/ability_check.md
VERSION = 0.0.1

[COMBAT]
FILE_NAME = instructions/combat.md
VERSION = 0.0.1
